// $site_max_width: 960px;
// $font_color: #333;
// $link_color: #00c;
$font_family: Arial, sans-serif;
$font_size: 16px;
// $font_bold:
$title_padding: 40px 300px;
// $line_height: percentage(20px / $font_size);

* {
  font: {
    size: $font_size;
    family: $font_family;
  }
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.front {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
  background-color: lavenderblush;
  padding: $title_padding;
  .front__logo {
    .logo__img {
      width: 119px;
      // height: 70px;
    }
  }
  .front__input-box {
    margin-left: 40px;
    position: relative;
    .input-box__input {
      height: 50px;
      width: 650px;
    }
    .input-box__input:focus {
      outline: none;
      border: solid 2px red;
      border-radius: 10px;
    }
    input {
      margin: 0 auto;
      border: none; /* <-- This thing here */
      border: solid 1px #ccc;
      border-radius: 10px;
    }
  }
  .front__search-keyword {
    top: 0px;
    padding: 0 20px;
    position: absolute;
    width: 650px;
    height: 45px;
    overflow: hidden;
  }

  .front__search-keyword.remove {
    display: none;
  }

  .front__hotKeyword-box {
    display: none;
    position: absolute;
    top: 49px;
    background-color: white;
    width: 650px;
    // height: 100px;
  }
  .front__hotKeyword-box.focus {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    z-index: 3;
    border-radius: 10px;
    border: solid 2px red;
  }

  // .front__hotKeyword-box.remove{
  //   display: inline;
  // }

  .search-keyword__list {
    font-size: 25px;
    padding-top: 10px;
    // margin-top: 10px;
  }
  .search-keyword__bundle {
    z-index: -1;
  }
  .search-keyword__bundle.move {
    transform: translate3d(0, -40px, 0);
    transition: transform 0.3s;
  }

  .search-keyword__bundle.remove {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  min-width: 1200px;
  .nav__category,
  .special-menu,
  .hash-tag,
  .add-on {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hash-tag {
    color: #888;
    font-weight: 700;
  }
  .nav__category {
    flex-grow: 0.1;
  }
  .special-menu {
    flex-grow: 0.2;
    font-weight: 700;
  }
  .hash-tag {
    flex-grow: 0.2;
  }
  .add-on {
    flex-grow: 0.1;
    .add-on__recent-product,
    .add-on__login {
      display: flex;
      justify-content: space-between;
      li {
        margin-left: 10px;
      }
    }
  }
}

.main-banner {
  position: relative;
  margin: 40px;
  display: flex;
  justify-content: center;
  font-size: 0;
  min-width: 1200px;
  a {
    font-size: 0;
  }
  .main-banner__static {
    border: 1px solid #ccc;
  }
  .static__img1 {
    margin: 0 40px;
  }
  img {
    display: block;
  }
  .main-banner__slide {
    border: 1px solid #ccc;
    width: 685px;
    overflow: hidden;
    position: relative;
    .slide-bundle {
      display: flex;
      position: absolute;
      justify-content: flex-start;
      left: -585px;
    }
    .slide-bundle li {
      display: inline-block;
      margin-left: 100px;
    }
    .slide-bundle li:nth-child(3) {
      margin-right: 100px;
    }
    .slide-bundle.right {
      transform: translate3d(585px, 0, 0);
      transition: transform 0.5s;
    }
    .slide-bundle.left {
      transform: translate3d(-585px, 0, 0);
      transition: transform 0.5s;
    }
    .slide-bundle.over-right {
      transform: translate3d(585px, 0, 0);
    }
    .slide-bundle.over-left {
      transform: translate3d(-585px, 0, 0);
    }
    .slide__right {
      position: absolute;
      left: 630px;
      top: 50%;
      z-index: 2;
    }
    .slide__left {
      position: absolute;
      left: 50px;
      top: 50%;
      z-index: 2;
    }

    .slide__under-btn1,
    .slide__under-btn2,
    .slide__under-btn3 {
      height: 5px;
      background-color: #ccc;
    }
    .slide__under-btn1:hover,
    .slide__under-btn2:hover,
    .slide__under-btn3:hover {
      background-color: black;
    }
    .slide__under-bundle {
      display: flex;
      justify-content: space-between;
      width: 55px;
      position: absolute;
      z-index: 3;
      top: 300px;
      left: 45%;
    }
  }
}
.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  .sub-menu__more {
    background-color: green;
    height: 100px;
  }
  .divBox {
    width: 1200px;
    background-color: red;
    display: flex;
    justify-content: space-around;
  }
  .img__more {
    width: 200px;
    height: 200px;
  }
}
.issue-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .arrow__left,
  .arrow__right {
    size: 30px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  .arrow__left {
    left: 17%;
  }
  .arrow__right {
    left: 81%;
  }

  .issue-banner__title {
    align-self: flex-start;
  }
  .issue-banner__slide {
    padding-top: 30px;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 1260px;
    height: 300px;
    position: relative;
  }
  // .issue-list
  .issue-bundle {
    position: absolute;
    left: -225px;
    display: flex;
    justify-content: center;
  }
  .issue-list {
    padding: 22px;
  }
  .issue-list:nth-child(1),
  .issue-list:nth-child(2) {
    display: none;
  }
  .img__img {
    width: 200px;
    height: 200px;
  }

  .issue-bundle.right {
    transform: translate3d(245px, 0, 0);
    transition: transform 0.5s;
  }
  .issue-bundle.left {
    transform: translate3d(-245px, 0, 0);
    transition: transform 0.5s;
  }
}
